.card {
  border: 2px var(--dark-blue) solid;
  box-shadow: 6px 6px 1px 0px var(--violet);
  padding: 20px;
  position: relative;
}

.dm-card {
  border: 2px var(--white) solid;
  box-shadow: 6px 6px 1px 0px var(--blue);
  padding: 20px;
  position: relative;
}

.card__bookmark {
  color: var(--light-blue);
  position: absolute;
  right: 12px;
  top: -8px;
  width: 48px;
}

.card__bookmark--active {
  color: var(--green);
  position: absolute;
  right: 12px;
  top: -8px;
  width: 48px;
}
