.menu {
  display: grid;
  grid-auto-flow: column;
  padding-top: 14px;
  place-items: center;
}

.menu__link {
  align-items: center;
  display: flex;
  justify-content: center;
}

.menu__link--icon {
  filter: invert(100%);
  width: 26px;
}
