.menu {
  display: grid;
  grid-auto-flow: column;
  padding-top: 14px;
  place-items: center;
}

.menu__button {
  align-items: center;
  display: flex;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: var(--white);
  opacity: 50%;
}

.menu__button--active {
  opacity: 100%;
}

.menu__icon {
  width: 26px;
}
