.menu {
  display: grid;
  grid-auto-flow: column;
  padding-top: 14px;
  place-items: center;
}

.menu__button {
  align-items: center;
  display: flex;
  justify-content: center;
  border: none;
  background-color: transparent;
}

.menu__icon {
  color: var(--white);
  opacity: 50%;
  width: 26px;
}

.menu__icon--active {
  color: var(--white);
  width: 26px;
}
