.tag-list {
  display: grid;
  gap: 16px;
  grid-auto-flow: column;
  list-style-type: none;
  padding-left: 0;
}

.tag-list__item {
  border: 1.5px var(--green) solid;
  color: var(--green);
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

.tag-list__title {
  color: var(--green);
  font-size: 14px;
  text-transform: uppercase;
}

.tag-list__new-tag {
  border: 2px var(--green) solid;
  color: var(--green);
  display: block;
  font-size: 14px;
  height: 40px;
  margin: 4px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.tag-list__new-tag:focus {
  border: 2px var(--violet) solid;
  outline: none;
  resize: none;
}
