.darkmode-body {
  color: var(--white);
  background-color: var(--darkmode-blue);
}

.darkmode-header {
  background-image: linear-gradient(30deg, #014470 20%, #4b2f7d 80%);
}

.darkmode-cards {
  border: 2px var(--blue) solid;
}

.darkmode-card__bookmark--active {
  color: var(--blue);
}

.darkmode-footer {
  background-image: linear-gradient(150deg, #014470 20%, #358c7f 80%);
}
