.card {
  position: relative;
  border: 2px var(--dark-blue) solid;
  box-shadow: 6px 6px 1px 0px var(--violet);
  padding: 20px;
}

.card__bookmark {
  position: absolute;
  right: 12px;
  top: -8px;
  width: 48px;
  color: var(--light-blue);
}

.card__bookmark--active {
  position: absolute;
  right: 12px;
  top: -8px;
  width: 48px;
  color: var(--dark-blue);
}

.card__answer {
  display: none;
}
