.scrolling {
  overflow-y: scroll;
}

.card {
  position: relative;
  border: 2px var(--dark-blue) solid;
  box-shadow: 6px 6px 1px 0px var(--violet);
  /* background-color: var(--light-blue); */
}

.card__bookmark {
  position: absolute;
  right: -5px;
  top: -15px;
  width: 70px;
}

.card__title {
}

.card__question {
}

.card__answer {
  display: none;
}
