.card {
  position: relative;
  border: 2px var(--dark-blue) solid;
  box-shadow: 6px 6px 1px 0px var(--violet);
  /* background-color: var(--light-blue); */
}

.card__bookmark {
  position: absolute;
  right: 5px;
  top: -11.5px;
  width: 60px;
  filter: invert(50%) sepia(110%) saturate(400%) hue-rotate(890deg)
    brightness(40%) contrast(100%);
}

.card__title {
}

.card__question {
}

.card__answer {
  display: none;
}
