.form-card {
  align-items: start;
  border: 2px var(--dark-blue) solid;
  box-shadow: 6px 6px 1px 0px var(--violet);
  display: grid;
  gap: 16px;
  padding: 20px;
}

.form-card__title {
  text-transform: uppercase;
}

.form-card__copy {
  border: 2px var(--dark-blue) solid;
  color: var(--dark-blue);
  display: block;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin: 4px 0;
  padding: 8px;
  width: 100%;
}

.form-card__copy:focus {
  border: 2px var(--blue) solid;
  outline: none;
  resize: none;
}
