.profile__intro {
  display: grid;
  gap: 4px 32px;
  grid-template-columns: 1fr 1fr;
  align-items: flex-end;
}

.profile__intro--pic {
  width: 100%;
  border: 2px var(--dark-blue) solid;
  box-shadow: 6px 6px 1px 0px var(--violet);
  padding: 10px;
}

.profile__intro--copy {
  grid-column: 1/-1;
}
