.tags {
  list-style-type: none;
  display: grid;
  grid-auto-flow: column;
  gap: 15px;
}

.tags__list {
  border: 1.5px var(--green) solid;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: var(--green);
}
