/* font-family: 'Quicksand', sans-serif; 400 Regular, 600 Semibold */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: 90px auto 70px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: var(--dark-blue);
}

h1 {
  margin: 0;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
}

h2 {
  width: 30px;
  border-bottom: solid 2.5px;
  padding-bottom: 10px;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

footer {
  background-color: var(--blue);
}
